html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  padding: 5px 20px;
  font-size: 14px;
}
.canvas {
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
}
.form {
  display: inline-block;
  vert-align: top;
}
.copy {
  width: 100%;
  line-height: 30px;
}
